[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
biopython = "*"
nptyping = "*"
requests = "*"

[dev-packages]
sphinx = "*"
commonmark = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
pytest = "*"

[requires]
python_version = "=>3.6.1"
